/node_modules
/public/hot
/public/storage
/public/image/wallpaper
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
